<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Registration</title>
    <meta name="description" content=" | Register" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript" src="/js/lib/dummy.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <link rel="icon" href="/index10.html" type="image/x-icon" />
    <link
      rel="pingback"
      href="https://livedemo00.template-help.com/wordpress_52469/xmlrpc.php"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Police Department"
      href="https://livedemo00.template-help.com/wordpress_52469/feed/"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Police Department"
      href="https://livedemo00.template-help.com/wordpress_52469/feed/atom/"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/bootstrap/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/bootstrap/css/responsive.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/css/camera.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/style.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Police Department &raquo; Feed"
      href="https://livedemo00.template-help.com/wordpress_52469/feed/"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Police Department &raquo; Comments Feed"
      href="https://livedemo00.template-help.com/wordpress_52469/comments/feed/"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Police Department &raquo; Home Comments Feed"
      href="https://livedemo00.template-help.com/wordpress_52469/home/feed/"
    />
    <link
      rel="stylesheet"
      id="flexslider-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/flexslider.css?ver=2.2.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="owl-carousel-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.carousel.css?ver=1.24"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="owl-theme-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.theme.css?ver=1.24"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="font-awesome-css"
      href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css?ver=3.2.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="cherry-plugin-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/includes/css/cherry-plugin.css?ver=1.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="contact-form-7-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.4"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="theme52469-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/main-style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="magnific-popup-css"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/css/magnific-popup.css?ver=0.9.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="options_typography_Six+Caps-css"
      href="//fonts.googleapis.com/css?family=Six+Caps&#038;subset=latin"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery-1.7.2.min.js?ver=1.7.2"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/js/search.js?ver=1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery-migrate-1.2.1.min.js?ver=1.2.1"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-includes/js/swfobject.js?ver=2.2-20120417"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/modernizr.js?ver=2.0.6"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jflickrfeed.js?ver=1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/jquery.easing.1.3.js?ver=1.3"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/custom.js?ver=1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/bootstrap/js/bootstrap.min.js?ver=2.3.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/elasti-carousel/jquery.elastislide.js?ver=1.2"
    ></script>
    <link
      rel="EditURI"
      type="application/rsd+xml"
      title="RSD"
      href="https://livedemo00.template-help.com/wordpress_52469/xmlrpc.php?rsd"
    />
    <link
      rel="wlwmanifest"
      type="application/wlwmanifest+xml"
      href="https://livedemo00.template-help.com/wordpress_52469/wp-includes/wlwmanifest.xml"
    />
    <meta name="generator" content="WordPress 4.0.24" />
    <link
      rel="canonical"
      href="https://livedemo00.template-help.com/wordpress_52469/"
    />
    <link
      rel="shortlink"
      href="https://livedemo00.template-help.com/wordpress_52469/"
    />
    <script>
      var system_folder =
          "https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/admin/data_management/",
        CHILD_URL =
          "https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469",
        PARENT_URL =
          "https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework",
        CURRENT_THEME = "theme52469";
    </script>
    <style id="compiled-css" type="text/css">
      body {
        /* background: #2371a1; */
        /* background: linear-gradient(to right, #33AEFF, #2371a1);  */
        background: linear-gradient(to bottom, #a681c2, #4755a2); 
       
      }

      .card-img-left {
        width: 45%;
        /* Link to your background image using in the property below! */
        background: scroll center;
          
        background-image: url("https://iili.io/JE67l6v.png");
        background-size: cover;
      }

      .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
      }

      .btn-google {
        color: white !important;
        background-color: #ea4335;
      }

      .btn-facebook {
        color: white !important;
        background-color: #3b5998;
      }

      /* EOS */
    </style>

    <style>
      .clickable-div {
        cursor: pointer;
        /* Add other styling as needed */
      }
    </style>

    <style type="text/css">
      body {
        background-image: url(https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/theme52469/images/bg.jpg);
        background-repeat: repeat;
        background-position: top center;
        background-attachment: scroll;
      }
    </style>
    <style type="text/css">
      h1 {
        font: normal 30px/36px Roboto;
        color: #434343;
      }
      h2 {
        font: normal 26px/31px Roboto;
        color: #434343;
      }
      h3 {
        font: normal 24px/29px Roboto;
        color: #434343;
      }
      h4 {
        font: normal 22px/26px Roboto;
        color: #434343;
      }
      h5 {
        font: normal 20px/24px Roboto;
        color: #434343;
      }
      h6 {
        font: normal 18px/22px Roboto;
        color: #434343;
      }
      body {
        font-weight: normal;
      }
      .logo_h__txt,
      .logo_link {
        font: normal 40px/48px Six Caps;
        color: #303130;
      }
      .sf-menu > li > a {
        font: normal 17px/20px Roboto;
        color: #848484;
      }
      .nav.footer-nav a {
        font: normal 12px/24px Arial, Helvetica, sans-serif;
        color: #bcbcbc;
      }
    </style>
    <script
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.mobile.customized.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      jQuery(function () {
        jQuery(".sf-menu").mobileMenu({ defaultText: "Navigate to..." });
      });
    </script>
    <!--<![endif]-->
    <script type="text/javascript">
      // Init navigation menu
      jQuery(function () {
        // main navigation init
        jQuery("ul.sf-menu").superfish({
          delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
          animation: {
            opacity: "show",
            height: "show",
          }, // used to animate the sub-menu open
          speed: "normal", // animation speed
          autoArrows: false, // generation of arrow mark-up (for submenu)
          disableHI: true, // to disable hoverIntent detection
        });

        //Zoom fix
        //IPad/IPhone
        var viewportmeta =
            document.querySelector &&
            document.querySelector('meta[name="viewport"]'),
          ua = navigator.userAgent,
          gestureStart = function () {
            viewportmeta.content =
              "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
          },
          scaleFix = function () {
            if (
              viewportmeta &&
              /iPhone|iPad/.test(ua) &&
              !/Opera Mini/.test(ua)
            ) {
              viewportmeta.content =
                "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
              document.addEventListener("gesturestart", gestureStart, false);
            }
          };
        scaleFix();
      });
    </script>
    <!-- stick up menu -->
    <script type="text/javascript">
      jQuery(document).ready(function () {
        if (!device.mobile() && !device.tablet()) {
          jQuery("header .nav-wrap").tmStickUp({
            correctionSelector: jQuery("#wpadminbar"),
            active: false,
          });
        }
      });
    </script>
  </head>

  <body class="home page page-id-203 page-template page-template-page-home-php">
    <div id="motopress-main" class="main-holder">
      <!--Begin #motopress-main-->
      <header class="motopress-wrapper header">
        <div class="container">
          <div class="row">
            <div
              class="span12"
              data-motopress-wrapper-file="wrapper/wrapper-header.php"
              data-motopress-wrapper-type="header"
              data-motopress-id="65b68148ee207"
            >
              
              <div class="nav-wrap">
                <div class="row">
                  <div
                    class="span3"
                    data-motopress-type="d-md-flex"
                    data-motopress-static-file="static/static-logo.php"
                    
                  >
                    <!-- BEGIN LOGO -->
                    
                    <div class="logo pull-left">
                      <a
                        href="/"
                        class="logo_h logo_h__img"
                        ><img
                          src="https://iili.io/JGHWDbf.png"
                          alt="Police Department"
                          title="Hello! This is a Theme for the Police Department."
                      /></a>
                    </div>

                    <!-- END LOGO -->
                  </div>

                  <div
                    class="span8"
                    data-motopress-type="static"
                    data-motopress-static-file="static/static-nav.php"
                  >
                    <!-- BEGIN MAIN NAVIGATION -->
                    <nav class="nav nav__primary clearfix">
                      <ul id="topnav" class="sf-menu">
                        
                      </ul>
                    </nav>
                    <!-- END MAIN NAVIGATION -->
                  </div>
                </div>
              </div>
              
    <div class="bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div
            class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
          >
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">
                REGISTER
              </h5>
              <form action="/auth/register" method="POST">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInputUsername"
                    placeholder="myusername" 
                    name="name"
                    required
                    autofocus
                  />
                  <label for="name">Username</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputEmail"
                    placeholder="name@example.com"
                    name="email"
                    required
                    autofocus
                  />
                  <label for="email">Email address</label>
                </div>

                <hr />

                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    name="password"
                    required
                    autofocus
                  />
                  <label for="password">Password</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPasswordConfirm"
                    placeholder="Confirm Password"
                    name="confirmedpassword"
                    required
                    autofocus
                  />
                  <label for="confirmedpassword">Confirm Password</label>
                </div>

                <div class="d-grid mb-2">
                  <button
                    class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                    type="submit"
                  >
                    Register
                  </button>
                </div>

                <hr class="my-2" />
                          {{#if message}}
                            <h2 class="alert alert-danger mt-5">{{message}}</h2>
                          {{/if}}
                          {{#if message1}}
                              <h2 class="alert alert-success mt-1">{{message1}}</h2>
                          {{/if}}
                <hr class="my-2" />
              
                <a class="d-block text-center mt-2 small" href="login"
                  >Have an account? Sign In</a
                >


              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-includes/js/comment-reply.min.js?ver=4.0.24"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.32.0-2013.04.03"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var _wpcf7 = {
        loaderUrl:
          "https:\/\/livedemo00.template-help.com\/wordpress_52469\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        sending: "Sending ...",
      };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.4"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/superfish.js?ver=1.5.3"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.mobilemenu.js?ver=1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.magnific-popup.min.js?ver=0.9.3"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/jquery.flexslider-min.js?ver=2.2.2"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jplayer.playlist.min.js?ver=2.3.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.jplayer.min.js?ver=2.6.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/tmstickup.js?ver=1.0.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/device.min.js?ver=1.0.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.zaccordion.min.js?ver=2.1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/camera.min.js?ver=1.3.4"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.debouncedresize.js?ver=1.0"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.ba-resize.min.js?ver=1.1"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/themes/CherryFramework/js/jquery.isotope.js?ver=1.5.25"
    ></script>
    <script
      type="text/javascript"
      src="https://livedemo00.template-help.com/wordpress_52469/wp-content/plugins/cherry-plugin/includes/js/cherry-plugin.js?ver=1.2"
    ></script>
    <!-- this is used by many Wordpress features and for plugins to work properly -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-7078796-5"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "https://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Tag Manager --><noscript
      ><iframe
        src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "//www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P9FT69");
    </script>
    <!-- End Google Tag Manager -->
  </body>
</html>
